.green{
    background-color: green;
    height: 3em;
   

}
.red{
    background-color: red;
    height:auto;
}
.pink{
    background-color: pink;
    height: 4em;
}
.orange{
    background-color: orange;
    height: 4em;

}
.blue{
    background-color: blue;
    height: 4em;

}